<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<bean id="myTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="2"/>
		<property name="maxPoolSize" value="5"/>
	</bean>

	<int:channel id="errorChannel"/>
	
	<int:idempotent-receiver endpoint="*namesRouter" key-expression="payload" discard-channel="helloDiscard"/>

	<!-- 
		Global interceptor for all defined channels
		to log all messages. 
	-->
	<int:channel id="logchannel"/>
	<int:logging-channel-adapter 
		id="helloLog" 
		channel="logchannel" 
		level="INFO" 
		expression="'Contents:' + payload + ', request date=' + headers['REQUEST_DATE']"
		logger-name="hello-logger"/>

	<int:channel-interceptor>
		<int:wire-tap channel="logchannel"/>
	</int:channel-interceptor>	
		
	<!-- 
		Gateway to hide messaging from caller.
	-->
	
	<int:channel id="helloReply"/>
	
	<!-- 
	
	<int:gateway async-executor="myTaskExecutor"
		id="helloGateway"  
		default-reply-timeout="50"
		service-interface="info.novatec.integration.hello.service.HelloServiceGateway">	
		<int:method name="sayMultipleHelloToIntegration" request-channel="helloChainInput"/>	
		<int:method name="sayHelloToIntegration" request-channel="channelForAllOtherNames" reply-channel="helloReply"/>	
	</int:gateway>
		
		 -->
	<!-- 
		Message chain to ease pipe-filter messaging without declaring each channel between.
	-->
	<int:channel id="helloChainInput">
		<int:dispatcher task-executor="myTaskExecutor"/>
	</int:channel>

	<int:channel id="helloDiscard"/>

	<int:chain id="hellointegrationchain" input-channel="helloChainInput">
		<int:splitter id="nameListSplitter"/>
		<int:header-enricher id="requestDateHeaderEnricher">
			<int:header name="REQUEST_DATE" value="#{new java.util.Date()}"/>
		</int:header-enricher>
		<int:filter 
			id="namesFilter" 
			expression="payload != 'Otto' and payload != 'Gustav'" 
			throw-exception-on-rejection="false" discard-channel="helloDiscard">
		</int:filter>
		<int:router 
			id="namesRouter" 
			expression="payload" 
			resolution-required="false" 
			default-output-channel="channelForAllOtherNames">
			<int:mapping value="Andreas" channel="channelForAndreas"/>
			<int:mapping value="Hans" channel="channelForHans"/>
		</int:router>
	</int:chain>	
	
	<int:channel id="channelForAllOtherNames"/>
	<int:channel id="channelForAndreas"/>
	<int:channel id="channelForHans"/>
	
	<int:service-activator output-channel="helloReply" input-channel="channelForAndreas" ref="helloService" method="sayHelloToIntegrationForAndreas"/>
	<int:service-activator output-channel="helloReply" input-channel="channelForHans" ref="helloService" method="sayHelloToIntegrationForHans"/>
	<int:service-activator output-channel="helloReply" input-channel="channelForAllOtherNames" ref="helloService" method="sayHelloToAllOthers"/>
	
	
	<bean id="helloService" class="info.novatec.integration.hello.service.HelloServiceBackend"/>

</beans>
